<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/css/bootstrap/bootstrap.css" rel="stylesheet" />
	<link href="~/fontawesome-free/css/all.css" rel="stylesheet" />
	<link href="~/css/style.css" rel="stylesheet" />
	@if (IsSectionDefined("AdminCss"))
	{
		@RenderSection("AdminCss", required: false)
	}
</head>
<body>
	<div>
		@Html.Partial("_Header")
		@RenderBody()
		@Html.Partial("_Footer")
		<partial name="~/Views/Shared/admin/_LogoutModal.cshtml" />
	</div>
	<script src="~/js/jquery/jquery-3.3.1.js"></script>
	<script src="~/js/jquery.validate/jquery.validate.js"></script>
	<script src="~/js/jquery.validate.unobtrusive.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="~/js/bootstrap/bootstrap.js"></script>
</body>
</html>
