@model LittlePacktBookstore.ViewModels.UserViewModel
@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/admin/_AdminLayout.cshtml";
}

<h2>Details</h2>
<div class="container">
	<div class="row">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.FirstName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.FirstName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.LastName)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.LastName)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Phone)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Phone)
			</dd>
		</dl>
	</div>
	<div class="container">
		<div class="row">
			<label>User in the roles</label>
		</div>
		<div class="row">
			<form asp-action="details">
				@for (int i = 0; i < Model.UserInRoles.Count; i++)
				{
					<div>
						@Html.HiddenFor(x => Model.UserInRoles[i].Id)
						@Html.CheckBoxFor(x => Model.UserInRoles[i].Selected, new { @class = "form-check-input" })
						<label class="form-check-label">@Model.UserInRoles[i].Name</label>
					</div>
				}
				<input type="submit" value="Update" class="btn btn-success" />
			</form>
		</div>
	</div>
</div>
<div>
	<a asp-action="Index">Back to List</a>
</div>

